/*=============================
=            =icons            =
=============================*/
.icon-lock{
	margin-right: 3px;
	background: url('../img/lock.png') no-repeat;
	display: inline-block;
	width: 10px;
	height: 10px;
}

.icon-logout{
	background: url('../img/log-out.png') no-repeat;
	display: inline-block;
	width: 10px;
	height: 10px;
	margin-right: 3px;
}
